.u-section-1 {
  background-image: linear-gradient(#38a25e, #238b67);
}

.u-section-1 .u-sheet-1 {
  min-height: 479px;
}

.u-section-1 .u-image-1 {
  width: 457px;
  height: 423px;
  box-shadow: 8px 8px 14px 8px rgba(128,128,128,0.6);
  margin: 28px auto 0 -73px;
}

.u-section-1 .u-text-1 {
  margin: -287px 207px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 14px 44px 0 562px;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  font-weight: 700;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 20px auto 60px 562px;
  padding: 10px 32px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 99px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -322px;
    margin-right: 37px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 9px;
    margin-right: -150px;
    margin-left: 556px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 171px;
    margin-right: 161px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 818px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 55px;
    margin-left: 108px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 25px;
    margin-right: auto;
    margin-left: 151px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 25px;
    margin-right: 12px;
    margin-left: 174px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 68px;
    margin-right: auto;
    margin-left: 255px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 5px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 43px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -4px;
    margin-right: -141px;
    margin-left: 147px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 29px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 563px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 315px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 38px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 25px;
    margin-right: 23px;
    margin-left: 38px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 4px;
  }
} .u-section-2 {
  background-image: linear-gradient(#238b67, white);
}

.u-section-2 .u-sheet-1 {
  min-height: 1072px;
}

.u-section-2 .u-group-1 {
  width: 507px;
  min-height: 659px;
  height: auto;
  margin: 60px auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 40px 20px 40px 0;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  letter-spacing: normal;
  font-weight: 700;
  margin: 101px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-style: normal;
  text-shadow: 0px 0px 40px rgba(255,255,255,0.4);
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  margin: 31px 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 564px;
  margin: -518px 31px 60px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 560px;
}

.u-section-2 .u-container-layout-2 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  padding: 30px 30px 28px;
}

.u-section-2 .u-icon-1 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
  padding: 18px;
}

.u-section-2 .u-icon-2 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: -78px auto 0;
  padding: 18px;
}

.u-section-2 .u-text-3 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 23px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 560px;
}

.u-section-2 .u-container-layout-3 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  padding: 30px 30px 0;
}

.u-section-2 .u-icon-3 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
  padding: 18px;
}

.u-section-2 .u-text-5 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1020px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -234px;
    margin-right: 101px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 456px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 19px 24px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 11px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.625rem;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin: 32px 1px -9px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 377px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5625rem;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 968px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-right: 30px;
    padding-bottom: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -260px;
    margin-right: 55px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 372px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 372px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1152px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -277px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1058px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -857px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 885px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  text-shadow: 2px 2px 31px rgba(0,0,0,0.4);
  margin: 17px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  width: 945px;
  margin: 3px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(50% - 48px) calc(50% - 48px);
  grid-gap: 96px 96px;
  min-height: 477px;
}

.u-section-3 .u-image-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin-top: 0;
  margin-bottom: 0;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/Commission_Emerald_PFP_Transparent.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin-top: 0;
  margin-bottom: 0;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/zonder_iets.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-group-1 {
  width: 425px;
  background-image: none;
  min-height: 92px;
  height: auto;
  margin: 14px auto 0 98px;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 14px auto 0;
}

.u-section-3 .u-group-2 {
  width: 425px;
  background-image: none;
  min-height: 98px;
  height: auto;
  margin: -92px 98px 60px auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 19px 30px;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 474px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 11px;
    margin-left: 0;
    height: auto;
  }

  .u-section-3 .u-group-2 {
    margin-top: -95px;
    margin-right: 0;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1601px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 80px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1001px;
    grid-template-columns: 100%;
  }

  .u-section-3 .u-group-1 {
    margin-top: -546px;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-group-2 {
    margin-top: 469px;
    margin-right: auto;
    margin-left: 135px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1232px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 975px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -533px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-2 {
    margin-top: 445px;
    margin-left: 115px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 930px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 748px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -423px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-2 {
    margin-top: 332px;
    margin-bottom: 12px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Exo', sans-serif;
}
.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}
.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}